<ion-view title="My Profile" id="page1" style="" cache-view="false">
  <ion-content padding="true" class="has-header">
    <h3 id="myProfile-heading1" style="color: rgb(255, 0, 0); font-weight: 600; font-style: italic; text-align: center;">"E-RemindMoko"</h3>
    <div class="item item-body" id="myProfile-list-item-container2" style="">
      <div id="myProfile-markdown9" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Account Info</p>
      </div>
      <div class="list card" id="myProfile-card22">
        <ion-item class="item-avatar" id="myProfile-list-item17" style="">
          <img src="img/oe6KieXbTs6Wjj8D7KeZ_ninja-simple-512.png">
          <h2>Name: {{studentdetails.first_name}} {{studentdetails.middle_name}} {{studentdetails.last_name}}</h2>
          <p>USN: {{studentdetails.student_no}}</p>
        </ion-item>
        <div class="item item-body" id="myProfile-list-item-container5" style="">
          <div id="myProfile-markdown11" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Course: {{studentdetails.course}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>